@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #00dca1;
    border-radius: 8px;
    border: solid 1px #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #272727;
    border: solid 4px #272727;
  }

  .swal2-container.swal2-center > .swal2-popup {
    border-radius: 40px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
